:root {
  --body-bg-color: #24203F; }

.VoiceMessageCreationModalScreen__modalDialog___1XRSA {
  margin: 0;
  width: 100%;
  max-width: none;
  height: 100%; }
  @media (min-width: 769px) {
    .VoiceMessageCreationModalScreen__modalDialog___1XRSA {
      height: auto;
      margin: 0;
      width: 748px;
      max-width: none; } }
  .VoiceMessageCreationModalScreen__modalDialog___1XRSA .modal-content {
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 100%; }
    @media (max-width: 769px) {
      .VoiceMessageCreationModalScreen__modalDialog___1XRSA .modal-content {
        border-radius: 0; } }
    @media (min-width: 769px) {
      .VoiceMessageCreationModalScreen__modalDialog___1XRSA .modal-content {
        margin: 0; } }

.VoiceMessageCreationModalScreen__modalContent___zqzH7 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3; }

.VoiceMessageCreationModalScreen__scrollableArea___3-J4D {
  width: 600px;
  height: 200px; }

.VoiceMessageCreationModalScreen__imagesArea___1LfXi {
  display: flex;
  flex-flow: row wrap; }

:root {
  --body-bg-color: #24203F; }

.styles__blurred___NQeQt {
  overflow: hidden;
  border-radius: 5px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px); }

.styles__profileContainer___3BOhy {
  overflow: hidden;
  padding-bottom: 40px;
  position: relative;
  background: #EBEBEC; }
  @media (max-width: 769px) {
    .styles__profileContainer___3BOhy {
      background: #292F36;
      padding-bottom: unset; } }
  .styles__profileContainer___3BOhy a {
    color: white; }

@media (max-width: 769px) {
  .styles__profileContainerNoUser___ITXzw {
    padding-top: 48px; } }

.styles__headingWrapper___2rEQI {
  background-image: url(https://d12xoj7p9moygp.cloudfront.net/images/profile/heading-bg-wave-desktop.svg);
  background-repeat: repeat-x;
  background-position-y: 330px;
  background-position-x: center;
  background-size: 2124px 300px;
  background-color: #24203F;
  height: 625px; }
  @media (max-width: 992px) {
    .styles__headingWrapper___2rEQI {
      height: 535px; } }
  @media (max-width: 769px) {
    .styles__headingWrapper___2rEQI {
      background-image: unset;
      height: unset; } }
  @media (max-width: 992px) {
    .styles__headingWrapper___2rEQI {
      background-position-y: 210px;
      background-size: 2124px 360px; } }

.styles__headingContainer___1o6yc {
  color: #fff;
  overflow: visible;
  width: 100%;
  padding: 56px 15px 0;
  margin: 0 auto; }
  .styles__headingContainer___1o6yc p {
    color: #fff; }
  @media (min-width: 769px) {
    .styles__headingContainer___1o6yc {
      width: 760px; } }
  @media (min-width: 992px) {
    .styles__headingContainer___1o6yc {
      width: 1030px; } }
  @media (max-width: 769px) {
    .styles__headingContainer___1o6yc {
      padding-top: 36px; } }

.styles__mobileMetadata___w3C6s {
  color: white;
  padding-left: 24px;
  padding-right: 24px; }

.styles__scrollableDescription___2_pIr {
  line-height: 1.25;
  padding: 16px 16px 16px 0;
  max-height: 128px;
  overflow-y: auto;
  position: relative; }

.styles__scrollableDescription___2_pIr::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2.3px; }

.styles__scrollableDescription___2_pIr::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 2.3px; }

.styles__buttonsSection___3_ldl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  justify-content: center;
  padding-top: 24px; }
  @media (min-width: 769px) {
    .styles__buttonsSection___3_ldl {
      justify-content: flex-start; } }
  @media (max-width: 320px) {
    .styles__buttonsSection___3_ldl {
      flex-direction: column; } }
  @media (max-width: 769px) {
    .styles__buttonsSection___3_ldl {
      padding-top: 0;
      justify-content: space-between; } }

.styles__bottomButtons___29LxH {
  padding-top: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.2); }

.styles__mobileWaveContainer___3XEXq {
  background-image: url("https://d12xoj7p9moygp.cloudfront.net/images/profile/wave-bg-mobile.svg");
  background-size: 3800px;
  background-position-x: 89%;
  background-position-y: 0;
  background-repeat: repeat-x;
  margin-top: 32px;
  padding-top: 70px; }

.styles__socialLinksContainer___Z7ayv {
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 992px) {
    .styles__socialLinksContainer___Z7ayv {
      justify-content: center;
      margin-bottom: 24px; } }

.styles__podcastHeading___35fce {
  display: flex; }
  @media (max-width: 769px) {
    .styles__podcastHeading___35fce {
      width: 100%;
      flex-direction: column;
      align-items: center;
      overflow: hidden; } }
  .styles__podcastHeading___35fce .styles__podcastImage___SEIe9 {
    margin: 0;
    width: 344px;
    height: 344px;
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.12); }
  .styles__podcastHeading___35fce .styles__headingWrapper___2rEQI {
    background-position-y: 110px; }
  .styles__podcastHeading___35fce .styles__podcastImage___SEIe9 {
    border-radius: 10px; }
  .styles__podcastHeading___35fce h1 {
    font-size: 27px; }
  .styles__podcastHeading___35fce .styles__podcastCreatorContainer___3ngbc {
    text-align: center; }
    @media (min-width: 769px) {
      .styles__podcastHeading___35fce .styles__podcastCreatorContainer___3ngbc {
        text-align: left; } }
  .styles__podcastHeading___35fce .styles__podcastCreator___3HUA2 {
    display: inline-block;
    color: white;
    font-size: 14px; }
  .styles__podcastHeading___35fce .styles__podcastNameContainer___2ccZa {
    font-size: 2px;
    color: white;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 769px) {
      .styles__podcastHeading___35fce .styles__podcastNameContainer___2ccZa .styles__stationName___2NyaL {
        margin-top: 17px;
        font-size: 20px;
        letter-spacing: normal; } }
    @media (min-width: 992px) {
      .styles__podcastHeading___35fce .styles__podcastNameContainer___2ccZa .styles__stationName___2NyaL {
        font-size: 45px; } }
    @media (min-width: 769px) {
      .styles__podcastHeading___35fce .styles__podcastNameContainer___2ccZa {
        text-align: left; } }
  .styles__podcastHeading___35fce .styles__podcastInfoContainer___1-Xwl {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 769px) {
      .styles__podcastHeading___35fce .styles__podcastInfoContainer___1-Xwl {
        max-height: 270px; } }
    @media (max-width: 769px) {
      .styles__podcastHeading___35fce .styles__podcastInfoContainer___1-Xwl {
        margin-top: 0; } }
  @media (min-width: 769px) {
    .styles__podcastHeading___35fce .styles__headerContentContainer___2ZU-9 {
      margin-left: 45px;
      width: 100%; }
    .styles__podcastHeading___35fce h1 {
      font-size: 37px/1; }
    .styles__podcastHeading___35fce p {
      font-size: 17px; }
    .styles__podcastHeading___35fce .styles__headingButton___28WSW {
      max-width: 176px;
      margin-right: 26px; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .styles__podcastHeading___35fce .styles__headingButton___28WSW {
      max-width: 152px;
      margin-right: 16px; } }
  @media (min-width: 769px) {
    .styles__podcastHeading___35fce .styles__socialLinksContainer___Z7ayv {
      margin-top: 16px; } }
  @media (max-width: 992px) {
    .styles__podcastHeading___35fce .styles__podcastImage___SEIe9 {
      width: 300px;
      height: 300px; } }
  @media (max-width: 769px) {
    .styles__podcastHeading___35fce .styles__podcastImage___SEIe9 {
      width: 200px;
      height: 200px; } }

.styles__sectionHeading___2useR {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: bold; }

.styles__playerAndEpisodesContainer___23AI0 {
  max-width: 810px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }
  @media (max-width: 769px) {
    .styles__playerAndEpisodesContainer___23AI0 {
      background-color: #EBEBEC;
      padding: 32px;
      padding-top: 1px;
      box-shadow: none; } }

.styles__episodeFeed___3mOKz {
  position: relative;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.2);
  max-height: 550px;
  padding: 11px;
  margin-bottom: 70px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .styles__episodeFeed___3mOKz > div {
    margin-bottom: 12px; }
    .styles__episodeFeed___3mOKz > div:last-child {
      margin-bottom: 0; }
  @media (min-width: 769px) {
    .styles__episodeFeed___3mOKz {
      padding: 35px;
      margin-bottom: 140px; }
      .styles__episodeFeed___3mOKz > div {
        margin-bottom: 23px; }
        .styles__episodeFeed___3mOKz > div:last-child {
          margin-bottom: 0; } }

.styles__mobileEpisodeListItem___X5RHV a {
  color: #5F6369; }

.styles__mobileEpisodeList___l9jZ_ {
  display: block; }
  @media (min-width: 769px) {
    .styles__mobileEpisodeList___l9jZ_ {
      display: none; } }
  .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListTitle___TM59b {
    color: #292F36;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    display: inline-block; }
  .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListItemLink___230MK {
    text-decoration: none; }
    .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListItemLink___230MK .styles__mobileEpisodeListItem___X5RHV {
      padding-bottom: 16px;
      border-bottom: solid 2px #c9cbcd; }
    .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListItemLink___230MK:first-child .styles__mobileEpisodeListItem___X5RHV {
      border-bottom: none; }
  .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListItem___X5RHV {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-bottom: 10px; }
  .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListCurrentItemPlayButton___k_T_F {
    display: inline-block; }
  .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListItemPlayingIndicatorContainer___1vzrI {
    display: inline-block;
    position: absolute; }
  .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListItemPlayingIndicator___1ghLM {
    height: 5px;
    width: 5px;
    background-color: #5000b9;
    border-radius: 50%;
    display: inline-block; }
  .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListItemContent___27NMJ {
    display: inline-block;
    margin-left: 10px;
    flex-grow: 1; }
  .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListItemTitle___26RfV {
    color: #292F36;
    font-size: 18px;
    font-weight: 400; }
  .styles__mobileEpisodeList___l9jZ_ .styles__mobileEpisodeListItemDetails___IMy4S {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 14px;
    font-weight: 400;
    color: #7F8287; }

.styles__podcastLinksRow___1jmGU {
  display: none; }
  @media (min-width: 769px) {
    .styles__podcastLinksRow___1jmGU {
      display: block; } }

.styles__podcastLinksContainer___2_gfw {
  margin-top: 8px;
  margin-bottom: 49px; }
  @media (min-width: 769px) {
    .styles__podcastLinksContainer___2_gfw {
      margin-top: 14px;
      margin-bottom: 31px; } }

.styles__segment___2WEVX {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.55); }

.styles__segmentContainer___2wtyP {
  margin-top: 16px; }
  @media (max-width: 992px) {
    .styles__segmentContainer___2wtyP {
      margin-top: 46px; } }

.styles__enter___2zHOz {
  opacity: 0.01; }

.styles__enter___2zHOz.styles__enterActive___1DP37 {
  opacity: 1;
  transition: opacity 300ms ease-in; }

.styles__leave___1yZPV {
  opacity: 1; }

.styles__leave___1yZPV.styles__leaveActive___2KlBs {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

@media (max-width: 769px) {
  .styles__podcastLinksModal___35pRM {
    color: #5F6369;
    display: flex;
    align-items: center;
    justify-content: center; }
    .styles__podcastLinksModal___35pRM svg {
      margin: 0 auto; }
    .styles__podcastLinksModal___35pRM .modal-dialog.modal-dialog {
      max-height: 80%;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 95%;
      position: fixed;
      bottom: 10px;
      border-radius: 6px; }
    .styles__podcastLinksModal___35pRM .modal-content {
      background-color: white;
      max-width: 680px;
      margin: 0 auto; }
    .styles__podcastLinksModal___35pRM .modal-body {
      padding: 0 18px; }
    .styles__podcastLinksModal___35pRM .styles__requestPlatform___3lC1P {
      border-top: 1px solid #f3f3f4;
      padding: 18px 0;
      margin: 0 auto;
      text-align: center; }
      .styles__podcastLinksModal___35pRM .styles__requestPlatform___3lC1P .styles__requestPlatformLink___3X4aa {
        padding: 0 3px; }
    .styles__podcastLinksModal___35pRM .styles__availableOn___2fxHa {
      font-size: 14px;
      margin: 16px 0; } }

@media (min-width: 769px) {
  .styles__podcastLinksModal___35pRM .styles__availableOn___2fxHa {
    font-size: 30px;
    text-align: center; }
  .styles__podcastLinksModal___35pRM .styles__requestPlatform___3lC1P {
    border-top: 1px solid #f3f3f4;
    padding: 18px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #7f8287; }
    .styles__podcastLinksModal___35pRM .styles__requestPlatform___3lC1P .styles__requestPlatformLink___3X4aa {
      padding: 0 3px;
      text-decoration: none; }
    .styles__podcastLinksModal___35pRM .styles__requestPlatform___3lC1P .styles__requestPlatformLink___3X4aa:hover {
      color: #6732B9;
      text-decoration: none; }
    .styles__podcastLinksModal___35pRM .styles__requestPlatform___3lC1P .styles__requestPlatformLink___3X4aa:active {
      text-decoration: none; } }

.styles__title___1Av3V {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: -0.6px;
  color: #ffffff; }

.styles__subtitle___3yAeX {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7f8287;
  margin-top: 10px;
  margin: 0; }

.styles__buttonIconWrapper___3Drjp {
  display: inline-block; }
  @media (max-width: 991px) {
    .styles__buttonIconWrapper___3Drjp {
      display: none; } }
  @media (max-width: 767px) {
    .styles__buttonIconWrapper___3Drjp {
      display: inline-block; } }

.styles__anchorPayIcon___sYF-5 {
  vertical-align: text-bottom; }

.styles__modalCloseButton___J8jHF {
  display: none;
  cursor: pointer; }
  @media (min-width: 769px) {
    .styles__modalCloseButton___J8jHF {
      display: block;
      position: absolute;
      top: 29px;
      left: 22px; } }

.styles__modalCloseButton___J8jHF:hover {
  fill: black; }

.styles__episodeSegmentPlayerMobile___ORIUV {
  margin-bottom: 22px; }

.styles__socialWrapper___3PT7B {
  width: 810px;
  margin: auto;
  padding: 12px 0 20px 0; }
  @media (max-width: 991px) {
    .styles__socialWrapper___3PT7B {
      width: 770px; } }

.styles__progressBarWrapper___1OjYz {
  height: 6px;
  display: flex;
  margin-top: 12px;
  border-radius: 4px;
  overflow: hidden; }
  @media (max-width: 769px) {
    .styles__progressBarWrapper___1OjYz {
      max-width: 200px;
      margin-top: 6px; } }

.styles__trailerSocialConnections___2zF7L {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center; }
  @media (max-width: 768px) {
    .styles__trailerSocialConnections___2zF7L {
      flex-direction: column; } }

.styles__headingButton___28WSW, .styles__voiceMessageButtonContainer___3C011, .styles__mobileExternalPlatformsContainer___3TMze, .styles__listenOnSpotifyButton___2irWm {
  flex: 1;
  max-width: 176px; }
  .styles__headingButton___28WSW:first-of-type:not(:only-child), .styles__voiceMessageButtonContainer___3C011:first-of-type:not(:only-child), .styles__mobileExternalPlatformsContainer___3TMze:first-of-type:not(:only-child), .styles__listenOnSpotifyButton___2irWm:first-of-type:not(:only-child) {
    margin-right: 26px; }
    @media (max-width: 320px) {
      .styles__headingButton___28WSW:first-of-type:not(:only-child), .styles__voiceMessageButtonContainer___3C011:first-of-type:not(:only-child), .styles__mobileExternalPlatformsContainer___3TMze:first-of-type:not(:only-child), .styles__listenOnSpotifyButton___2irWm:first-of-type:not(:only-child) {
        margin: 0 auto 16px auto; } }
    @media (max-width: 769px) {
      .styles__headingButton___28WSW:first-of-type:not(:only-child), .styles__voiceMessageButtonContainer___3C011:first-of-type:not(:only-child), .styles__mobileExternalPlatformsContainer___3TMze:first-of-type:not(:only-child), .styles__listenOnSpotifyButton___2irWm:first-of-type:not(:only-child) {
        max-width: 144px;
        margin-right: 0;
        margin-left: 0; } }
  .styles__headingButton___28WSW:only-child, .styles__voiceMessageButtonContainer___3C011:only-child, .styles__mobileExternalPlatformsContainer___3TMze:only-child, .styles__listenOnSpotifyButton___2irWm:only-child {
    min-width: 160px;
    margin: 0 auto; }
  @media (max-width: 320px) {
    .styles__headingButton___28WSW, .styles__voiceMessageButtonContainer___3C011, .styles__mobileExternalPlatformsContainer___3TMze, .styles__listenOnSpotifyButton___2irWm {
      width: 100%; } }
  .styles__headingButton___28WSW button, .styles__voiceMessageButtonContainer___3C011 button, .styles__mobileExternalPlatformsContainer___3TMze button, .styles__listenOnSpotifyButton___2irWm button {
    width: 100%; }

@media (max-width: 769px) {
  .styles__bottomButtons___29LxH .styles__headingButton___28WSW, .styles__bottomButtons___29LxH .styles__voiceMessageButtonContainer___3C011 {
    max-width: 144px; } }

.styles__description___1RUlf {
  margin-top: 32px;
  margin-bottom: 32px; }

@media (max-width: 769px) {
  .styles__listeningPlatforms___3SAK- {
    margin-top: 0; } }

.styles__listeningPlatformTitle___1KuNW {
  text-transform: uppercase;
  font-weight: bold;
  color: #292F36;
  font-size: 1.6rem; }

.styles__placeholderPodcastArt___2J1E0 {
  width: 344px;
  height: 344px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px; }
  @media (max-width: 769px) {
    .styles__placeholderPodcastArt___2J1E0 {
      margin: auto;
      width: 200px;
      height: 200px; } }

.styles__placeholderPodcastArtIconWrapper___2iDNb {
  width: 134px; }
  @media (max-width: 769px) {
    .styles__placeholderPodcastArtIconWrapper___2iDNb {
      width: 80px; } }

@media (max-width: 769px) {
  .styles__episodeListEmptyStateContainer___3J1vf {
    padding: 16px; } }

.styles__episodeListEmptyState___3iuBx {
  height: 160px;
  width: 1030px;
  background-color: #DFE0E1;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 85px auto; }
  @media (max-width: 769px) {
    .styles__episodeListEmptyState___3iuBx {
      width: 100%;
      padding: 16px;
      margin: 0;
      text-align: center;
      background-color: #EBEBEC;
      color: #292F36; } }

.styles__stationCreator___zZBad {
  display: flex;
  justify-content: initial;
  align-items: center;
  font-size: inherit; }
  @media (max-width: 769px) {
    .styles__stationCreator___zZBad {
      text-align: center; } }
  @media (min-width: 769px) {
    .styles__stationCreator___zZBad {
      width: 300px; } }
  .styles__stationCreator___zZBad .styles__stationCreatorName___QDgOU {
    width: 100%;
    padding: 5px 0;
    line-height: 1.2; }
    @media (max-width: 769px) {
      .styles__stationCreator___zZBad .styles__stationCreatorName___QDgOU {
        padding-bottom: 8px; } }

:root {
  --body-bg-color: #24203F; }

.styles__button___3vL6_ {
  padding: 0;
  display: flex;
  align-items: center; }

.styles__stopIcon___2NRI3 {
  background-color: #EBEBEC;
  border-radius: 1px;
  width: 8px;
  height: 8px; }

.styles__mobileStopIcon___3kRqC {
  background-color: #292F36; }

.styles__iconWrapper___2a4zn {
  width: 24px;
  height: 24px;
  background-color: #292F36;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px; }

.styles__mobileIconWrapper___2ejlN {
  background-color: white; }

.styles__buttonLabel___3dlNt {
  font-weight: bold;
  color: #292F36; }

.styles__mobileButtonLabel___15vOM {
  color: rgba(255, 255, 255, 0.8);
  min-width: 78px; }

@media (max-width: 769px) {
  .styles__container___3d4y3 {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px; } }

@media (max-width: 769px) {
  .styles__placeholder___10w-y {
    height: 16px; } }

.styles__voicemailModalContainer___38PHV {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

.styles__voicemailModalContent___elD4T {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 40px; }

:root {
  --body-bg-color: #24203F; }

.styles__expander___1NNVb > div > div:after {
  cursor: pointer;
  content: '\2022\2022\2022';
  border-radius: 100%;
  position: relative;
  left: 0;
  top: -2px;
  font-size: 8px;
  padding: 2px; }

.styles__expander--dark___3Qxhe > div > div:after {
  color: #fff;
  background: #C9CBCD; }

.styles__expander--light___2vWpj > div > div:after {
  color: #292F36;
  background: #fff; }

:root {
  --body-bg-color: #24203F; }

.styles__isActiveEpisode___3WG-z {
  position: absolute;
  background: #8940FA;
  border-radius: 100%;
  top: 36px;
  left: 3px;
  height: 5px;
  width: 5px; }
  @media (min-width: 769px) {
    .styles__isActiveEpisode___3WG-z {
      top: 50%;
      margin-top: -4px;
      height: 7px;
      width: 7px;
      left: 8px; } }

.styles__episodeFeedItem___1U6E2 {
  min-height: 106px;
  color: #292F36;
  background: #fff;
  border-radius: 4px;
  padding: 14px 12px;
  overflow: hidden;
  position: relative; }
  .styles__episodeFeedItem___1U6E2 a {
    color: inherit;
    text-decoration: none; }
  .styles__episodeFeedItem___1U6E2 .styles__episodeImage___tMifW {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    float: left;
    margin: 0 6px 10px 0;
    position: relative;
    width: 47px;
    height: 47px; }
    .styles__episodeFeedItem___1U6E2 .styles__episodeImage___tMifW img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px; }
  .styles__episodeFeedItem___1U6E2 .styles__episodeHeading___29q7v {
    font-weight: bold;
    font-size: 15px;
    color: #292F36;
    display: inline-block; }
  .styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg, .styles__episodeFeedItem___1U6E2 p {
    color: rgba(41, 47, 54, 0.7);
    font-size: 13px;
    line-height: 14px; }
  .styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg {
    clear: left;
    padding-right: 2px; }
  .styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p, .styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
    margin-top: 8px;
    font-size: 11px;
    line-height: 13px;
    color: #c9cbcd; }
  .styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p {
    float: left; }
  .styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
    float: right; }
  @media (min-width: 769px) {
    .styles__episodeFeedItem___1U6E2 {
      padding: 25px 22px; }
      .styles__episodeFeedItem___1U6E2 .styles__episodeImage___tMifW {
        width: 56px;
        height: 56px;
        margin-right: 22px;
        margin-bottom: 0; }
      .styles__episodeFeedItem___1U6E2 .styles__episodeHeading___29q7v {
        font-weight: bold;
        font-size: 2rem;
        color: #292F36;
        margin-bottom: 4px;
        width: 365px; }
      .styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg, .styles__episodeFeedItem___1U6E2 p {
        font-size: 16px;
        line-height: 18px;
        color: #7F8287; }
      .styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg {
        clear: none;
        width: 465px;
        margin-left: 78px; }
      .styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p, .styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
        margin: 0;
        float: none;
        position: absolute;
        font-size: 13px;
        line-height: 15px; }
      .styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p {
        top: 25px;
        right: 22px; }
      .styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
        bottom: 12px;
        right: 22px; } }

.styles__overlayButton___2sEbR {
  z-index: 0; }

:root {
  --body-bg-color: #24203F; }

@media (max-width: 769px) {
  .styles__stationExternalLinkList___2adEC {
    display: flex;
    flex-direction: column;
    align-items: stretch; } }

@media (min-width: 769px) {
  .styles__stationExternalLinkList___2adEC {
    display: flex;
    flex-wrap: wrap; } }

.styles__stationExternalLinkList--singleColumn___2LjJ- {
  width: 100%; }

.styles__stationExternalLinkList--twoColumns___2dVCu {
  width: 50%; }

.styles__stationExternalLinkContainer___2Ze6N {
  margin: 7px 0; }
  @media (min-width: 769px) {
    .styles__stationExternalLinkContainer___2Ze6N {
      width: 200px;
      margin-left: 40px; } }

.styles__stationExternalLink___4M2QH {
  margin: 10px 0;
  display: inline-block;
  align-items: center;
  color: #292F36;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none; }
  .styles__stationExternalLink___4M2QH:hover {
    color: #161A1D;
    text-decoration: none;
    color: black; }
  .styles__stationExternalLink___4M2QH .styles__stationExternalLinkImage___3NUMo {
    margin-right: 20px; }
  .styles__stationExternalLink___4M2QH .styles__rssIcon___2b0iI {
    vertical-align: middle; }

:root {
  --body-bg-color: #24203F; }

.BecomeASupporterModal__root___2Xu8c .modal-dialog {
  width: 660px; }

.BecomeASupporterModal__root___2Xu8c .modal-header {
  height: 59px; }

.BecomeASupporterModal__root___2Xu8c .modal-body {
  padding: 0px; }

.BecomeASupporterModal__rootDesktop___2n_gF .modal-dialog.modal-dialog {
  margin-top: 3%; }

.BecomeASupporterModal__modalHeader___NOM3K {
  display: flex;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  justify-content: space-between; }

.BecomeASupporterModal__content___vOAOe {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 380px) {
    .BecomeASupporterModal__content___vOAOe {
      padding-right: 35px;
      padding-left: 35px; } }
  @media (min-width: 769px) {
    .BecomeASupporterModal__content___vOAOe {
      padding-right: 60px;
      padding-left: 60px; } }

.BecomeASupporterModal__rootMobile___15G0m {
  padding: 0px !important; }
  .BecomeASupporterModal__rootMobile___15G0m .modal-dialog {
    max-width: none;
    max-height: none;
    margin: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex; }
  .BecomeASupporterModal__rootMobile___15G0m .modal-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    background-color: white;
    border-radius: 0; }
  .BecomeASupporterModal__rootMobile___15G0m .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: sp;
    min-height: 100%; }
  .BecomeASupporterModal__rootMobile___15G0m .BecomeASupporterModal__modalHeader___NOM3K {
    display: flex; }
  .BecomeASupporterModal__rootMobile___15G0m .BecomeASupporterModal__modalFlex___coVDC {
    display: flex;
    flex-grow: 1;
    width: 100%; }

.BecomeASupporterModal__closeButton___2t9Js {
  cursor: pointer; }

:root {
  --body-bg-color: #24203F; }

.PaymentScene__root___1udoJ {
  display: flex;
  width: 100%;
  justify-content: center; }
  .PaymentScene__root___1udoJ .alert {
    text-align: center;
    margin-top: 20px;
    padding: 9px 5px;
    font-size: 12px; }
    @media (min-width: 769px) {
      .PaymentScene__root___1udoJ .alert {
        font-size: 14px; } }

.PaymentScene__body___pRRw4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; }
  @media (min-width: 769px) {
    .PaymentScene__body___pRRw4 {
      max-width: none;
      min-height: 600px; } }
  .PaymentScene__body___pRRw4 > div {
    display: flex;
    flex-direction: column; }

.PaymentScene__header___13Gdf {
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292f36;
  text-align: center; }

.PaymentScene__titleSection___TzklC {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292f36;
  margin-top: 50px; }

.PaymentScene__authorSection___30SSy {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5f6369;
  margin-bottom: 20px; }

.PaymentScene__amountContainer___3-WA4 {
  margin: 10px 0; }

.PaymentScene__amount___1f6N3 {
  font-size: 55px;
  font-weight: bold;
  color: #292f36;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center; }

.PaymentScene__frequency___OQLPD {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5f6369; }

.PaymentScene__creatorSection___3aGvx,
.PaymentScene__choiceSection___LT0nR {
  flex-grow: 1; }

.PaymentScene__paymentMethodSection___3cFDM {
  flex-grow: 2; }

.PaymentScene__choiceSection___LT0nR {
  justify-content: center; }

.PaymentScene__paymentMethodSection___3cFDM {
  min-height: 140px; }

@media (min-width: 380px) {
  .PaymentScene__paymentMethodSectionCreditCard___1NHWn {
    margin-top: 23px; } }

.PaymentScene__paymentMethodSectionNative___2sEdo {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center; }

.PaymentScene__payWithCreditCardLink___1pgou {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5000b9;
  margin-top: 19px;
  cursor: pointer; }

.PaymentScene__payWithCreditCardLink___1pgou:hover {
  color: #6732B9; }

.PaymentScene__nativePaymentRecurringNote___1bWMU {
  margin-top: 45px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5f6369; }

.PaymentScene__creditCardRecurringNote___2yBam {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5f6369; }

.PaymentScene__positionedAsNativePayment___31r21 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 58px; }

.PaymentScene__choiceToolbar___mI7cc div {
  display: flex;
  width: 100%; }
  .PaymentScene__choiceToolbar___mI7cc div .btn {
    flex: 1;
    border: 2px solid #dfe0e1;
    border-right-color: transparent;
    border-radius: 30px;
    font-size: 16px;
    color: #7f8287;
    font-weight: bold;
    border-width: 2px;
    margin: 0 3px;
    background: transparent;
    line-height: 46px;
    padding: 0 13px; }
    .PaymentScene__choiceToolbar___mI7cc div .btn:last-child {
      border-right-color: #dfe0e1; }
    .PaymentScene__choiceToolbar___mI7cc div .btn:hover, .PaymentScene__choiceToolbar___mI7cc div .btn:hover:active {
      background: #DFE0E1;
      color: #7f8287;
      border-color: #dfe0e1;
      border-right-color: transparent; }
      .PaymentScene__choiceToolbar___mI7cc div .btn:hover:last-child, .PaymentScene__choiceToolbar___mI7cc div .btn:hover:active:last-child {
        border-right-color: #dfe0e1; }
    .PaymentScene__choiceToolbar___mI7cc div .btn:hover:active {
      background: #C9CBCD; }
    .PaymentScene__choiceToolbar___mI7cc div .btn.active, .PaymentScene__choiceToolbar___mI7cc div .btn.active:hover {
      background: #5000b9;
      border-color: #5000b9;
      border-right-color: transparent;
      color: white; }
      .PaymentScene__choiceToolbar___mI7cc div .btn.active:last-child, .PaymentScene__choiceToolbar___mI7cc div .btn.active:hover:last-child {
        border-right-color: #5000b9; }
      .PaymentScene__choiceToolbar___mI7cc div .btn.active + .btn, .PaymentScene__choiceToolbar___mI7cc div .btn.active:hover + .btn {
        border-left-color: transparent; }
  .PaymentScene__choiceToolbar___mI7cc div .btn.active {
    box-shadow: none; }
  .PaymentScene__choiceToolbar___mI7cc div .btn + .btn,
  .PaymentScene__choiceToolbar___mI7cc div .btn + .btn-group,
  .PaymentScene__choiceToolbar___mI7cc div .btn-group + .btn,
  .PaymentScene__choiceToolbar___mI7cc div .btn-group + .btn-group {
    margin-left: -4px; }
  @media (max-width: 380px) {
    .PaymentScene__choiceToolbar___mI7cc div .btn {
      line-height: 36px; } }
  .PaymentScene__choiceToolbar___mI7cc div .active,
  .PaymentScene__choiceToolbar___mI7cc div .active:hover {
    background: #8940FA;
    color: #fff; }

.PaymentScene__percentEarnedContainer___2g3rf.PaymentScene__percentEarnedContainer___2g3rf {
  display: flex;
  flex-direction: row;
  justify-content: stretch; }
  .PaymentScene__percentEarnedContainer___2g3rf.PaymentScene__percentEarnedContainer___2g3rf > div {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    min-height: 59px; }

.PaymentScene__divider___1VhU0 {
  height: 1px;
  width: 100%;
  margin-bottom: 20px; }

.PaymentScene__chooseASupportLevelTitle___IopKZ {
  font-size: 16px;
  color: #5f6369;
  text-align: center;
  margin-bottom: 7px;
  font-weight: bold; }
  @media (min-width: 769px) {
    .PaymentScene__chooseASupportLevelTitle___IopKZ {
      font-size: 18px;
      margin-bottom: 11px; } }

.PaymentScene__perDollarCreatorPremiumPercentageNote___-fvXW {
  justify-content: center;
  text-align: center;
  color: #7f8287;
  margin-top: 6px; }
  .PaymentScene__perDollarCreatorPremiumPercentageNote___-fvXW .tooltip.bottom .tooltip-arrow {
    top: -5px;
    margin-left: -10px;
    border-width: 0 10px 10px;
    border-bottom-color: #f3f3f4; }
  .PaymentScene__perDollarCreatorPremiumPercentageNote___-fvXW .tooltip-inner {
    background-color: #f3f3f4;
    color: #5f6369;
    max-width: 100px;
    padding: 6px 3px;
    font-size: 11px;
    line-height: 13px; }
    @media (min-width: 769px) {
      .PaymentScene__perDollarCreatorPremiumPercentageNote___-fvXW .tooltip-inner {
        padding: 5px 10px;
        max-width: 148px;
        font-size: 14px;
        line-height: 16px; } }

.PaymentScene__customMessage___1ec_A {
  padding: 14px 16px;
  background: #f4f4f4;
  overflow: hidden;
  text-align: left;
  border-radius: 6px; }
  .PaymentScene__customMessage___1ec_A div {
    font-style: italic; }
  .PaymentScene__customMessage___1ec_A strong {
    font-size: 12px;
    cursor: pointer;
    margin-top: 13px;
    float: right; }
    .PaymentScene__customMessage___1ec_A strong:hover {
      color: #292F36; }

:root {
  --body-bg-color: #24203F; }

.ContentHeader__rootMobile___2yeko {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around; }

.ContentHeader__podcastInfoConainer___2OAj7 {
  display: flex;
  justify-content: center; }

.ContentHeader__podcastInfoMobile___15Th3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; }
  @media (min-width: 769px) {
    .ContentHeader__podcastInfoMobile___15Th3 {
      margin-top: 21px; } }

.ContentHeader__podcastImageContainerMobile___2MhC_ {
  width: 42px; }

.ContentHeader__podcastImageMobile___1cI6r {
  width: 42px;
  height: 42px;
  border-radius: 7.5px;
  background-image: linear-gradient(to bottom, rgba(65, 76, 69, 0.5), rgba(0, 0, 0, 0.5));
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25); }

.ContentHeader__podcastTitleAndAuthorContainerMobile___9563N {
  margin-left: 8px; }

.ContentHeader__headerTitleSectionMobile___3f0qO {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292f36; }
  @media (min-width: 769px) {
    .ContentHeader__headerTitleSectionMobile___3f0qO {
      font-size: 37px; } }

.ContentHeader__podcastNameSectionMobile___3OBxa {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292f36; }

.ContentHeader__authorSectionMobile___3T_yW {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5f6369; }

.ContentHeader__contentDescriptionMobile___SPQrQ {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5f6369;
  margin-top: 15px;
  padding: 0; }

.ContentHeader__confirmationNumberContainerMobile___3AnGu {
  margin-top: 18px;
  margin-bottom: 26px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #7f8287; }

.ContentHeader__podcastInfoDesktop___1Lnh1 {
  display: flex; }

.ContentHeader__headerTitleSectionDesktop___1EJrx {
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.7px;
  color: #292f36; }

.ContentHeader__titleSectionDesktop___f8zLH {
  font-size: 22px; }

.ContentHeader__podcastImageContainerDesktop___CR2kw {
  width: 140px; }

.ContentHeader__podcastImageDesktop___1g4jg {
  width: 140px;
  border-radius: 7.5px;
  background-image: linear-gradient(to bottom, rgba(65, 76, 69, 0.5), rgba(0, 0, 0, 0.5));
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25); }

.ContentHeader__podcastTitleAndAuthorContainerDesktop___2O8Ls {
  margin-left: 20px;
  position: relative;
  top: -6px; }

.ContentHeader__podcastNameSectionDesktop___3DVvG {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.91;
  letter-spacing: -0.4px;
  color: #292f36; }

.ContentHeader__authorSectionDesktop___2Iowu {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5f6369; }

.ContentHeader__contentDescriptionDesktop___2XNLi {
  text-align: left;
  margin-top: 13px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #5f6369; }

.ContentHeader__confirmationNumberContainerDesktop___3JkjT {
  margin-bottom: 42px;
  margin-top: 44px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #7f8287; }

.ContentHeader__learnMoreLinkIcon___3rv2Q {
  position: relative;
  top: -4px;
  background: #c9cbcd;
  margin-left: 3px; }
  @media (min-width: 769px) {
    .ContentHeader__learnMoreLinkIcon___3rv2Q {
      top: -7px; } }

.styles__infoButton___1jQyN {
  display: inline-block;
  line-height: 14px;
  height: 14px;
  width: 14px;
  background-color: #C9CBCD;
  font-weight: bold;
  font-size: 12px;
  color: #FFF;
  padding: 0;
  margin: 0;
  border-radius: 7px;
  text-align: center;
  cursor: pointer; }
  .styles__infoButton___1jQyN:hover {
    background: #C7C7C7; }

:root {
  --body-bg-color: #24203F; }

.NativePayButton__root___3yfac {
  text-align: center; }

.NativePayButton__applePayButtonContainer___pDaxE {
  display: flex;
  justify-content: center; }

.NativePayButton__nativePayButton___35NEk {
  width: 100%;
  max-width: 400px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 4px;
  cursor: pointer; }
  .NativePayButton__nativePayButton___35NEk:hover {
    background: #161A1D; }
  .NativePayButton__nativePayButton___35NEk:active {
    background: #292F36; }

.NativePayButton__googlePayButtonContainer___3Dfp2 {
  display: flex;
  justify-content: center; }

:root {
  --body-bg-color: #24203F; }

.styles__root___2HE8g .form-control > div {
  display: inline-block;
  width: 100%; }

:root {
  --body-bg-color: #24203F; }

.CreditCardReduxForm__root___HZ8le .form-group-lg .form-control {
  height: 40px;
  font-size: 16px; }

.CreditCardReduxForm__root___HZ8le .alert {
  margin: 0;
  margin-bottom: 6px; }

.CreditCardReduxForm__root___HZ8le .form-group {
  margin-bottom: 10px; }

@media (max-width: 380px) {
  .CreditCardReduxForm__root___HZ8le .btn {
    height: 40px;
    line-height: 28px;
    font-size: 14px; } }

.CreditCardReduxForm__formSubmitButton___20mLa {
  width: 100%; }
  @media (min-width: 769px) {
    .CreditCardReduxForm__formSubmitButton___20mLa {
      margin-top: 37px; } }

:root {
  --body-bg-color: #24203F; }

.styles__shareButton___CDyAH {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 63px;
  justify-content: space-between;
  margin-bottom: 12px; }
  .styles__shareButton___CDyAH button {
    padding: 0; }
  .styles__shareButton___CDyAH p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    color: #7F8287; }

.styles__facebookButton___3kJS_:hover path {
  fill: #1B4199; }

.styles__twitterButton___2C7tM:hover path {
  fill: #228FE3; }

.styles__copyButton___3O-2v:hover rect, .styles__copyButton___3O-2v:hover path {
  fill: #292F36; }

:root {
  --body-bg-color: #24203F; }

.ShareScene__root___2KzUg {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .ShareScene__root___2KzUg > div {
    display: flex;
    flex-direction: column;
    flex: 1; }
  .ShareScene__root___2KzUg .ShareScene__thanksSection___uGJ7E {
    flex-grow: 1; }
  .ShareScene__root___2KzUg .ShareScene__spaceSection___1sDfU {
    flex-grow: 0.2; }
  .ShareScene__root___2KzUg .ShareScene__shareSection___3JX-G {
    flex-grow: 0.5;
    justify-content: flex-end; }

.ShareScene__header___2mCBO {
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292f36;
  text-align: center; }

.ShareScene__titleSection___28Xfb {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292f36;
  margin-top: 50px; }

.ShareScene__authorSection___1nI5F {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5f6369; }

.ShareScene__thankYouText___3V70j {
  color: #7F8287;
  text-align: left; }

.ShareScene__shareButtonContainer___3xR-h {
  padding: 0px 30px; }

.ShareScene__shareButton___1U14- {
  width: 100%; }

.ShareScene__confirmationBlock___13WPC {
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
  color: #7f8287; }

.ShareScene__shareLinksSeparator___1amR8 {
  border-top: 1px solid #e3e3e4;
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5f6369;
  font-size: 14px; }
  @media (min-width: 769px) {
    .ShareScene__shareLinksSeparator___1amR8 {
      font-size: 18px;
      font-weight: bold; } }

.ShareScene__shareLinksContainer___3_2s8 {
  margin: auto;
  width: 100%; }
  @media (min-width: 769px) {
    .ShareScene__shareLinksContainer___3_2s8 {
      width: 400px; } }

.styles__wrapper___1wrBP {
  margin-right: 16px; }

.styles__iconWrapper___9XLUZ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28px;
  position: relative; }

.styles__text___1SXNv {
  position: absolute;
  color: #292f36 !important;
  font-weight: normal;
  white-space: nowrap;
  font-size: 1.2rem;
  margin-top: 12px;
  bottom: -20px; }

:root {
  --body-bg-color: #24203F; }

.styles__shareCenter___2_5i7 {
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  padding: 14px 23px 14px 17px; }
  .styles__shareCenter___2_5i7 .form-group {
    margin-bottom: 2px; }
  .styles__shareCenter___2_5i7 input {
    height: 20px; }
  .styles__shareCenter___2_5i7 .form-group {
    margin-bottom: 0;
    margin-top: 6px; }
    .styles__shareCenter___2_5i7 .form-group label {
      margin-top: 2px;
      font-size: 10px;
      line-height: 12px; }
  @media (min-width: 769px) {
    .styles__shareCenter___2_5i7 .form-group label {
      font-size: inherit; }
    .styles__shareCenter___2_5i7 input {
      height: inherit; } }

.styles__closeButton___3etXB {
  position: absolute;
  top: 4px;
  right: 5px;
  cursor: pointer; }

.styles__socialLinks___17DPR {
  text-align: right; }
  .styles__socialLinks___17DPR a {
    display: inline-block;
    min-width: 19px;
    height: 14px;
    margin-left: 4px;
    text-align: center; }

.styles__shareHeader___2pF-- h3 {
  margin: 2px 0 0;
  line-height: 12px;
  font-size: 10px;
  text-align: left; }

@media (min-width: 769px) {
  .styles__shareHeader___2pF-- {
    padding-top: 14px;
    padding-bottom: 6px; }
    .styles__shareHeader___2pF-- h3 {
      line-height: 18px;
      font-size: 16px; } }

.styles__container___1GuuE {
  display: flex;
  justify-content: flex-end; }

.styles__userUrl___39WgB {
  font-weight: bold;
  color: inherit;
  height: 32px;
  width: 32px;
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 16px; }
  .styles__userUrl___39WgB:last-of-type {
    margin-right: 0; }
  .styles__userUrl___39WgB:hover {
    background-color: rgba(255, 255, 255, 0.4); }

.styles__singleUrlContainer___3u1Ba {
  display: block; }

.styles__singleUrl___mu_Ur {
  font-weight: bold;
  height: 32px;
  display: inline-block;
  padding: 8px 32px 8px 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 160px; }
  .styles__singleUrl___mu_Ur svg {
    height: 16px; }
  .styles__singleUrl___mu_Ur:hover {
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }

.styles__twitter___1EbLQ {
  max-width: 142px; }

.styles__youtube___1lfZ6 {
  max-width: 148px; }

.styles__facebook___2EDLQ {
  max-width: 146px; }

.styles__singleUrlLabel___27Zhd {
  margin-right: 8px; }

.styles__linkIcon___CeYBj {
  height: 16px;
  width: 16px; }

.styles__facebookIcon___17uxM svg {
  height: 16px; }

.styles__youtubeIcon___3yPGg svg {
  margin-top: 2px; }

.styles__twitterIcon___33fWC svg {
  margin-top: 2px; }


/*# sourceMappingURL=ProfileEpisodeContainer-450d5471108764645748.css.map*/